In [1]:
import pandas as pd

C:\Users\AB\AppData\Local\Temp\ipykernel_35928\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('out.csv')
from IPython.display import display
with pd.option_context('display.max_rows',4):
  display(df[df.salary>8500])

   Unnamed: 0               job  salary  hours       time
0           0  machine learning   10000      6  2024-8-21
1           1           backend    9000      8   2024-9-3
3           3     data analysis   11000      9  2024-9-14

In [3]:
df.sort_values('salary')

   Unnamed: 0               job  salary  hours        time
2           2          frontend    8000     10  2024-10-15
1           1           backend    9000      8    2024-9-3
0           0  machine learning   10000      6   2024-8-21
3           3     data analysis   11000      9   2024-9-14

In [4]:
df.sort_values('hours')

   Unnamed: 0               job  salary  hours        time
0           0  machine learning   10000      6   2024-8-21
1           1           backend    9000      8    2024-9-3
3           3     data analysis   11000      9   2024-9-14
2           2          frontend    8000     10  2024-10-15

In [5]:
df.loc[1:3]

   Unnamed: 0            job  salary  hours        time
1           1        backend    9000      8    2024-9-3
2           2       frontend    8000     10  2024-10-15
3           3  data analysis   11000      9   2024-9-14

In [6]:
df.loc[::-1]

   Unnamed: 0               job  salary  hours        time
3           3     data analysis   11000      9   2024-9-14
2           2          frontend    8000     10  2024-10-15
1           1           backend    9000      8    2024-9-3
0           0  machine learning   10000      6   2024-8-21

In [7]:
df.iloc[0:2]

   Unnamed: 0               job  salary  hours       time
0           0  machine learning   10000      6  2024-8-21
1           1           backend    9000      8   2024-9-3

In [8]:
df.iloc[1]

Unnamed: 0           1
job            backend
salary            9000
hours                8
time          2024-9-3
Name: 1, dtype: object

In [9]:
df.salary.sum()

38000

In [10]:
df.sample()

   Unnamed: 0               job  salary  hours       time
0           0  machine learning   10000      6  2024-8-21

convert to time string to date

In [11]:
df['time'] = pd.to_datetime(df.time)
df['time']

0   2024-08-21
1   2024-09-03
2   2024-10-15
3   2024-09-14
Name: time, dtype: datetime64[ns]

In [12]:
df['time'].sort_values()

0   2024-08-21
1   2024-09-03
3   2024-09-14
2   2024-10-15
Name: time, dtype: datetime64[ns]

In [13]:
df['time'].sort_index()

0   2024-08-21
1   2024-09-03
2   2024-10-15
3   2024-09-14
Name: time, dtype: datetime64[ns]

In [14]:
type(df)

pandas.core.frame.DataFrame

In [15]:
df['year'] = pd.DatetimeIndex(df.time).year
df['month'] = pd.DatetimeIndex(df.time).month
df['day'] = pd.DatetimeIndex(df.time).day

In [16]:
df

   Unnamed: 0               job  salary  hours       time  year  month  day
0           0  machine learning   10000      6 2024-08-21  2024      8   21
1           1           backend    9000      8 2024-09-03  2024      9    3
2           2          frontend    8000     10 2024-10-15  2024     10   15
3           3     data analysis   11000      9 2024-09-14  2024      9   14

In [17]:
df

   Unnamed: 0               job  salary  hours       time  year  month  day
0           0  machine learning   10000      6 2024-08-21  2024      8   21
1           1           backend    9000      8 2024-09-03  2024      9    3
2           2          frontend    8000     10 2024-10-15  2024     10   15
3           3     data analysis   11000      9 2024-09-14  2024      9   14

In [18]:
df_august = df[df.month==8]

In [19]:
df_august

   Unnamed: 0               job  salary  hours       time  year  month  day
0           0  machine learning   10000      6 2024-08-21  2024      8   21

In [20]:
df.salary.mean()

9500.0

In [56]:
motor_df = pd.read_csv("A:\\csv data\\Electric_Vehicle_Population_Data.csv")

In [57]:
motor_df.info

<bound method DataFrame.info of         VIN (1-10)     County              City State  Postal Code  \
0       5UXTA6C0XM     Kitsap           Seabeck    WA      98380.0
1       5YJ3E1EB1J     Kitsap           Poulsbo    WA      98370.0
2       WP0AD2A73G  Snohomish           Bothell    WA      98012.0
3       5YJ3E1EB5J     Kitsap         Bremerton    WA      98310.0
4       1N4AZ1CP3K       King           Redmond    WA      98052.0
...            ...        ...               ...   ...          ...
210160  KNDCM3LD8J      Grant        Moses Lake    WA      98837.0
210161  JM3KKBHA0R     Kitsap         Bremerton    WA      98312.0
210162  JTMAB3FV3P     Pierce  University Place    WA      98466.0
210163  5YJ3E1EA1M       King          Kirkland    WA      98034.0
210164  7SAYGDEE0P    Spokane           Spokane    WA      99208.0

        Model Year     Make       Model  \
0             2021      BMW          X5
1             2018    TESLA     MODEL 3
2             2016  PORSCHE    PANAMERA
3             2018    TESLA     MODEL 3
4             2019   NISSAN        LEAF
...            ...      ...         ...
210160        2018      KIA        NIRO
210161        2024    MAZDA       CX-90
210162        2023   TOYOTA  RAV4 PRIME
210163        2021    TESLA     MODEL 3
210164        2023    TESLA     MODEL Y

                         Electric Vehicle Type  \
0       Plug-in Hybrid Electric Vehicle (PHEV)
1               Battery Electric Vehicle (BEV)
2       Plug-in Hybrid Electric Vehicle (PHEV)
3               Battery Electric Vehicle (BEV)
4               Battery Electric Vehicle (BEV)
...                                        ...
210160  Plug-in Hybrid Electric Vehicle (PHEV)
210161  Plug-in Hybrid Electric Vehicle (PHEV)
210162  Plug-in Hybrid Electric Vehicle (PHEV)
210163          Battery Electric Vehicle (BEV)
210164          Battery Electric Vehicle (BEV)

        Clean Alternative Fuel Vehicle (CAFV) Eligibility  Electric Range  \
0                 Clean Alternative Fuel Vehicle Eligible            30.0
1                 Clean Alternative Fuel Vehicle Eligible           215.0
2                   Not eligible due to low battery range            15.0
3                 Clean Alternative Fuel Vehicle Eligible           215.0
4                 Clean Alternative Fuel Vehicle Eligible           150.0
...                                                   ...             ...
210160              Not eligible due to low battery range            26.0
210161              Not eligible due to low battery range            26.0
210162            Clean Alternative Fuel Vehicle Eligible            42.0
210163  Eligibility unknown as battery range has not b...             0.0
210164  Eligibility unknown as battery range has not b...             0.0

        Base MSRP  Legislative District  DOL Vehicle ID  \
0             0.0                  35.0       267929112
1             0.0                  23.0       475911439
2             0.0                   1.0       101971278
3             0.0                  23.0       474363746
4             0.0                  45.0       476346482
...           ...                   ...             ...
210160        0.0                  13.0       347733676
210161        0.0                  35.0       254263509
210162        0.0                  28.0       254488797
210163        0.0                   1.0       137279852
210164        0.0                   6.0       241306740

                       Vehicle Location  \
0       POINT (-122.8728334 47.5798304)
1       POINT (-122.6368884 47.7469547)
2         POINT (-122.206146 47.839957)
3       POINT (-122.6231895 47.5930874)
4           POINT (-122.13158 47.67858)
...                                 ...
210160  POINT (-119.2958738 47.1384772)
210161  POINT (-122.6961203 47.5759584)
210162   POINT (-122.538546 47.2298959)
210163  POINT (-122.2026532 47.7210518)
210164  POINT (-117.4268937 47.7323627)

                                         Electric Utility  2020 Census Tract
0                                  PUGET SOUND ENERGY INC       5.303509e+10
1                                  PUGET SOUND ENERGY INC       5.303509e+10
2                                  PUGET SOUND ENERGY INC       5.306105e+10
3                                  PUGET SOUND ENERGY INC       5.303508e+10
4           PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303303e+10
...                                                   ...                ...
210160                           PUD NO 2 OF GRANT COUNTY       5.302501e+10
210161                             PUGET SOUND ENERGY INC       5.303509e+10
210162  BONNEVILLE POWER ADMINISTRATION||CITY OF TACOM...       5.305307e+10
210163      PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA)       5.303302e+10
210164  BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...       5.306301e+10

[210165 rows x 17 columns]>

In [58]:
motor_df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C0XM,Kitsap,Seabeck,WA,98380.0,2021,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,30.0,0.0,35.0,267929112,POINT (-122.8728334 47.5798304),PUGET SOUND ENERGY INC,5.303509e+10
1,5YJ3E1EB1J,Kitsap,Poulsbo,WA,98370.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,23.0,475911439,POINT (-122.6368884 47.7469547),PUGET SOUND ENERGY INC,5.303509e+10
2,WP0AD2A73G,Snohomish,Bothell,WA,98012.0,2016,PORSCHE,PANAMERA,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,15.0,0.0,1.0,101971278,POINT (-122.206146 47.839957),PUGET SOUND ENERGY INC,5.306105e+10
3,5YJ3E1EB5J,Kitsap,Bremerton,WA,98310.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,23.0,474363746,POINT (-122.6231895 47.5930874),PUGET SOUND ENERGY INC,5.303508e+10
4,1N4AZ1CP3K,King,Redmond,WA,98052.0,2019,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,150.0,0.0,45.0,476346482,POINT (-122.13158 47.67858),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10

In [61]:
motor_df.iloc[10:20]

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
10,1G1FX6S03H,Kitsap,Port Orchard,WA,98366.0,2017,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,0.0,26.0,176855283,POINT (-122.63847 47.54103),PUGET SOUND ENERGY INC,5.303509e+10
11,5YJ3E1EA5K,Snohomish,Lynnwood,WA,98087.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,21.0,110038288,POINT (-122.27336 47.861417),PUGET SOUND ENERGY INC,5.306104e+10
12,JTMAB3FV5R,Kitsap,Poulsbo,WA,98370.0,2024,TOYOTA,RAV4 PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42.0,0.0,23.0,271853067,POINT (-122.6368884 47.7469547),PUGET SOUND ENERGY INC,5.303509e+10
13,5YJSA1DPXC,Thurston,Olympia,WA,98502.0,2012,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,265.0,59900.0,22.0,188634442,POINT (-122.92333 47.03779),PUGET SOUND ENERGY INC,5.306701e+10
14,YV4H60LF5R,Yakima,Yakima,WA,98908.0,2024,VOLVO,XC90,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,32.0,0.0,14.0,267393759,POINT (-120.611068 46.596645),PACIFICORP,5.307700e+10
15,5YJYGDEF8L,Snohomish,Edmonds,WA,98026.0,2020,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,291.0,0.0,21.0,112172084,POINT (-122.338942 47.821454),PUGET SOUND ENERGY INC,5.306105e+10
16,5YJ3E1EA6L,King,Duvall,WA,98019.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,45.0,107653255,POINT (-121.956372 47.735604),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
17,1C4RJXN64R,Thurston,Olympia,WA,98502.0,2024,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21.0,0.0,22.0,270975064,POINT (-122.92333 47.03779),PUGET SOUND ENERGY INC,5.306701e+10
18,5YJSA1H28F,King,Bothell,WA,98011.0,2015,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208.0,0.0,1.0,162167414,POINT (-122.201408 47.754528),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
19,5YJ3E1EB7K,King,Seattle,WA,98115.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220.0,0.0,46.0,305583925,POINT (-122.3008235 47.6862671),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10

In [83]:
motor_df[motor_df['Electric Range']>310][motor_df['Model Year']==2020].iloc[10:20]

C:\Users\AB\AppData\Local\Temp\ipykernel_35928\956075574.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  motor_df[motor_df['Electric Range']>310][motor_df['Model Year']==2020].iloc[10:20]

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
1512,5YJ3E1EB5L,Stevens,Nine Mile Falls,WA,99026.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,7.0,231132548,POINT (-117.6098695 47.8047804),NO KNOWN ELECTRIC UTILITY SERVICE,5.306595e+10
1526,5YJ3E1EB8L,King,Kirkland,WA,98033.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,48.0,199517881,POINT (-122.1925969 47.676241),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
1754,5YJ3E1EB5L,King,Auburn,WA,98092.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,47.0,4854846,POINT (-122.1550193 47.2884536),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
1759,5YJ3E1EB0L,King,Renton,WA,98058.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,11.0,209474954,POINT (-122.1476337 47.4438471),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
1984,5YJ3E1EB4L,King,Sammamish,WA,98075.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,41.0,109011633,POINT (-122.0181135 47.5880568),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
2210,5YJ3E1EB5L,Thurston,Tumwater,WA,98501.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,35.0,224235980,POINT (-122.8733203 47.0133209),PUGET SOUND ENERGY INC,5.306701e+10
2297,5YJ3E1EB8L,King,Bellevue,WA,98008.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,48.0,135287834,POINT (-122.1197677 47.6103472),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
2431,5YJSA1E25L,King,Kirkland,WA,98033.0,2020,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,330.0,0.0,45.0,265008845,POINT (-122.1925969 47.676241),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
2482,5YJ3E1EB0L,King,Bellevue,WA,98005.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,41.0,244274523,POINT (-122.167394 47.614119),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10
2618,5YJ3E1EB7L,King,Kirkland,WA,98033.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322.0,0.0,45.0,104320730,POINT (-122.1925969 47.676241),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303302e+10